 <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">Grow Your Bussiness With Us</p>
          <div class="row">
             <div class="col-md-6 col-12 hero-text "> 
                <figure>
                 <img src="https://global-uploads.webflow.com/5bcb5ee81fb2091a2ec550c7/5ec376cc49f524997ab3639d_peach-thumbnail-800px.png"  width="400px" alt="random">
                </figure>
             </div>
             <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column"> 
               <h1>WE ARE THE PROFFESSIONAL DEVELOPER</h1>
                <h1>GROW YOUR BUSINESS</h1>
                <P>Welcome To <span class="bold-style"> Sanjeet Singh </span>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum dolor aperiam odit neque harum fuga iste eligendi quos voluptatem voluptas.</P>
                <button class="btn-style btn-primary">Read More</button>
             </div>
          </div>
        </div>
      </div>
    </div>